* {
  font-family: system-ui;
  margin: 0;
  padding: 0;
  background: var(--aw-color-bg-page);
  color: #fff;
  box-sizing: border-box;
  overflow-x: hidden;
}

nav {
  color: #fff;
  width: 100vw;
  height: 4rem;
  margin: 0rem;
  padding: 1rem;
}

nav h1 {
  font-size: 1.5rem;
  padding-left: 5.5rem;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  padding-left: 1rem;
  margin-right: 1rem;
  margin-right: 5rem;
  
}

nav ul li a {
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  font-family: "Bitcount Single", system-ui;
  background-color: transparent;
}

header h1 {
  font-family: "Bitcount Single", system-ui;
  background-color: transparent;
  margin-bottom: 1rem;
}

.body-container {
  display: flex;
  justify-content: space-evenly;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 2rem;

  
}

.body_1 {
  width: 60%;
  padding: 1.9rem 1.1rem 1.1rem 1.9rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  box-shadow: px 9px 1px rgba(255, 255, 255, 0.1);
  font-size: 1rem;
  font-family: system-ui;
  line-height: 1.5;
  font-weight: normal;
  color: var(--aw-color-text-default);display: block;
  
}
.body_1 p {
 
  

}

.body_1 span {
  color: var(--aw-color-text-muted);
  background-color: transparent;
}

.the-deyspace-picture {
  width: 30%;
  height: auto;
  border-radius: 85px;
  box-shadow: px 45px 50px rgba(1, 5, 41, 0.2);
    
}
.the-deyspace-picture img {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  display: block;
  
}

.my_areas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
  width: 500px;
  height: 100px;
  margin: 3rem auto;
}

.my_areas h2 {
  font-size: 2rem;
  font-weight: 750;
  color: var(--aw-color-text-heading);
}

.my_areas p {
  font-size: 1.2rem;
  color: var(--aw-color-text-muted);
  text-align: center;
 
} 
.my_areas_container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 1rem;
}



.rol-1,
.rol-2 {
  margin-bottom: 1.5rem;
}


:root {
  --aw-font-sans: "InterVariable";
  --aw-font-serif: "InterVariable";
  --aw-font-heading: "InterVariable";
  --aw-color-primary: rgb(1 97 239);
  --aw-color-secondary: rgb(1 84 207);
  --aw-color-accent: rgb(109 40 217);
  --aw-color-text-heading: rgb(247, 248, 248);
  --aw-color-text-default: rgb(229 236 246);
  --aw-color-text-muted: rgb(229 236 246 / 66%);
  --aw-color-bg-page: #333;
}